[submodule "services/auth"]
	path = services/auth
	url = https://github.com/Olegsander48/auth.git
[submodule "services/desc"]
	path = services/desc
	url = https://github.com/Olegsander48/desc.git
[submodule "services/eureka"]
	path = services/eureka
	url = https://github.com/Olegsander48/eureka.git
[submodule "services/generator"]
	path = services/generator
	url = https://github.com/Olegsander48/generator.git
[submodule "services/mock"]
	path = services/mock
	url = https://github.com/Olegsander48/mock.git
